<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <td>First Name</td>
            <td>Email</td>
            <td>Age</td>
            <td> View Profile</td>
        </th>
        {%for receipt in receipts %}
        <tr>
            <td>{{customer.first_name}}</td>
            <td>{{customer.Email}}</td>
            <td>{{customer.Age}}</td>
           <td> <a href="{% url 'receipt_profile' id=receipt.id %}">View Profile</a></td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>